<ion-header>
  <ion-toolbar>
    <ion-title>
      Add Measurement
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">Gauge Name</ion-label>
      <ion-select>
        <ion-select-option *ngFor="let gauge of gauges" [selected]="gauge === nearestGauge">{{gauge}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Height</ion-label>
      <ion-input type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-input type="date"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Time</ion-label>
      <ion-input type="time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Is Bubble Level Okay?</ion-label>
      <ion-select>
        <ion-select-option>Yes</ion-select-option>
        <ion-select-option selected>No</ion-select-option>
        <ion-select-option>I Don't Know</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

    
</ion-content>
